@using ParaTech_Energy.Models;
@model IEnumerable<ParaTech_Energy.Models.SolarPackageM>
@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Paratech_EnergyEntities db = new Paratech_EnergyEntities();
}
<br />
<div class="page-wrap">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-lined table-responsive panel-hovered mb20" style="padding-bottom: 20px">
                <div class="panel-heading left">Packages</div>
                <a href="@Url.Action("AddPackages","Package")" class="btn btn-line-info btn-icon-inline right btn-sm" style="margin: 1%;"><i class="ion ion-plus"></i>Add</a>
                <div class="clearfix"></div>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Package Name</th>
                            <th>Sub Title</th>
                            <th>Package Desc</th>
                            <th>Package Image</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pack in Model)
                        {
                            <tr>
                                <td>@pack.TitleM</td>
                                <td>@pack.SubtitleM</td>
                                <td>@Html.Raw(pack.DescripM)</td>
                                <td><img src="@Url.Content(pack.ImageM)" style="width:100px" /></td>
                                <td>
                                    @if (pack.InActive == true)
                                    {
                                        <label class="label label-success">Active</label>
                                    }
                                    else
                                    {
                                        <label class="label label-danger">InActive</label>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="@Url.Action("EditPackages","Package",new { Id = pack.MID})" class="btn btn-default ion ion-edit btn-sm"></a>
                                        <button type="button" onclick="DeleteProduct(@pack.MID)" class="btn btn-pink ion ion-android-delete btn-sm"></button>

                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Package Name</th>
                            <th>Sub Title</th>
                            <th>Package Desc</th>
                            <th>Package Image</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>


    </div>
    <!-- #end row -->
    <script src="~/scripts/plugins/sweetalert.min.js"></script>
    <link href="~/scripts/plugins/Sweetalert.css" rel="stylesheet" />
</div>
<script>
    function DeleteProduct(dID) {
        if (swal({
            title: "Are you sure?",
            text: "You will not be able to recover this Data!",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (Confirm) {
            if (Confirm) {
                swal("Deleted!", "Your Data has been deleted. " + dID, "success");
                var data = { 'pID': dID }
            $.post('@Url.Action("DeletePackages", "Package")', data,
            function (data) {
                if (data == true)
                    location.reload();
        else
                    alert("Could not delete");
        });
        } else {
                swal("Cancelled", "Your Data is safe :)", "error");
        }
        })) {
        }
    }
</script>

