
@model ParaTech_Energy.Models.BlogNew
@{
    ViewBag.Title = "EditBlogs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-wrap">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb30">
                <div class="panel-heading">
                    <p class="left">Edit Content</p>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
                <div class="panel-body">
                    @using (Html.BeginForm("EditBlogNews", "Blogs", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <input type="hidden" value="@Model.ID" name="ID" />

                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label small">Page Name</label>
                                    <select class="form-control" name="PageName">
                                        <option style="display:none">@Model.PageName</option>
                                        <option value="Blogs">Blogs</option>
                                        <option value="Latest News">Latest News</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label small">Title</label>
                                    <input type="text" class="form-control" name="Title" value="@Model.Title" placeholder="Title" tabindex="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label small">Date:<small class="text-danger">Date must be enter</small></label>
                                    <input type="date" class="form-control" name="Date" placeholder="Date" value="@Model.CreateDate" tabindex="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label small">Category</label>
                                    <input type="text" class="form-control" name="Category" value="@Model.Category" placeholder="Category" tabindex="1">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label small">Tags</label>
                                    <input type="text" class="form-control" name="Tags" value="@Model.Tags" placeholder="Tags" tabindex="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label class="control-label small">Description</label>
                                    <div class="clearfix"></div>


                                    <textarea class="form-control" id="summernote" name="Description" style="height:200px">@Model.Description</textarea>



                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="clearfix" style="margin-left: 10px;">
                            <button class="btn btn-primary mr5" type="submit">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>


                    }
                </div>
            </div>
        </div>

    </div>
</div>

<style>

    .panel-heading i {
        color: #332d2d;
    }
</style>


<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: 'Hello Bootstrap 4',
            tabsize: 2,
            height: 300
        });
    });
</script>


